@model IEnumerable<GarageManagementSoftwarePortal.Models.Followers>

@{
    ViewData["Title"] = "List of Followers";
}

@if (@ViewBag.UserType == GaragePortal.Enum.UserType.Admin.ToString())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User1.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User1.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User2.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User2.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfConnection)
                </th>

                <th>
                    Actions
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User1.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User1.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User2.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User2.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfConnection)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                        @*@Html.ActionLink("Details", "Details", new { item.ID }) |
                            @Html.ActionLink("Unfollow", "Delete", new { item.ID })*@
                        <a class="af" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a class="af" asp-action="Delete" asp-route-id="@item.ID">Unfollow</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (@ViewBag.UserType == GaragePortal.Enum.UserType.User.ToString())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User1.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User1.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfConnection)
                </th>

                <th>
                    Actions
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (@ViewBag.ID != item.User1.ID.ToString())
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.User1.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User1.Surname)
                        </td>
                    }
                    @if (@ViewBag.ID != item.User2.ID.ToString())
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.User2.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User2.Surname)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfConnection)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                        @*@Html.ActionLink("Details", "Details", new { item.ID }) |*@
                        @*@Html.ActionLink("Unfollow", "Delete", new { item.ID })*@
                        <a class="af" asp-action="Delete" asp-route-id="@item.ID">Unfollow</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
