@model IEnumerable<GaragePortalNewUI.Models.ServiceItems>
@inject LanguageService Resource

<div id="addServiceItem"></div>
<div id="editServiceItem"></div>

<button class="btn btn-sm btn-primary m-2" id="btnAddServiceItem" data-bs-toggle="ajax-modal" data-bs-target="#addServiceItem" data-url="@Url.Action("AddServiceItemPartial", "ServiceItems")">@Resource.GetKey("Add_Service_Item")</button>

<div id="totalInvoiceDiv" class="scrollit">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th colspan="2">Total Service Items: @Model.Count()</th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary m-2" id="btnEditServiceItem" data-bs-toggle="ajax-modal" data-bs-target="#editServiceItem" data-url="@Url.Action("EditServiceItemPartial","ServiceItems",new{id = @item.ID})">@Resource.GetKey("Edit")</button>
                    </td>
                    <td>
                        <a class="af" asp-controller="ServiceItems" asp-action="DeleteServiceItem" asp-route-id="@item.ID">@Resource.GetKey("Delete")</a>
                    </td>
                    <td colspan ="3"></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $('document').ready(function () {
        var editServiceItemDIVElement = $('#editServiceItem');
        $('button[data-bs-toggle="ajax-modal"]').click(function (event) {
            console.log("OLD Edit Service Item before OLD");
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                console.log("OLD Edit Service Item After OLD");
                editServiceItemDIVElement.html(data);
                editServiceItemDIVElement.find('.modal').modal('show');
            })
        })

        //Save Add Makeform data
        editServiceItemDIVElement.on('click', '[data-bs-save="modal"]', function (event) {

            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr("action");
            var sendData = form.serialize();
            $.post(actionUrl, sendData).done(function (data) {
                editServiceItemDIVElement.find('.modal').modal('hide');
                location.reload(true);
            })
        })
    })
</script>