@model IEnumerable<GaragePortalNewUI.ViewModels.Engineer.EngineerViewModel>
@inject LanguageService Resource

@{
    ViewData["Title"] = @Resource.GetKey("List_Of_Engineers");
}

@if (@ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Admin.ToString() || @ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Employee.ToString())
{
    @Html.Partial("~/PartialViews/_SuccessEmailSendPartialView.cshtml")
    @Html.Partial("~/PartialViews/_FailedEmailSendPartialView.cshtml")
    @Html.Partial("~/PartialViews/_SuccessUserCreationPartialView.cshtml")
    @Html.Partial("~/PartialViews/_FailedUserCreationPartialView.cshtml")
    @Html.Partial("~/PartialViews/_UserColorsExplanationPartialView.cshtml")

    <button class="btn btn-sm btn-primary m-2" id="btnAddEngineer" data-bs-toggle="ajax-modal" data-bs-target="#AddEngineer" data-url="@Url.Action("CreateEngineerPartial")">@Resource.GetKey("Add_New_Engineer")</button>
    <div id="addEngineerDIV"></div>
    <div id="editEngineerDIV"></div>
    <div id="sendEmailToEngineer"></div>
    <div></div>

    <br>
    <br>
    <div id="engineerPlaceHolder"></div>
    
    <table id="engineersTable" class="table table-striped" style="display: none">
        <thead>
            <tr>
                <th class="all">
                    @Resource.GetKey("ID")
                </th>
                <th class="all">
                    @Resource.GetKey("Name")
                </th>
                <th class="all">
                    @Resource.GetKey("Surname")
                </th>
                <th class="all">
                    @Resource.GetKey("Email")
                </th>
                @*<th class="all">
                    @Resource.GetKey("Password")
                </th>
                <th class="all">
                    @Resource.GetKey("Engineer_Speciality")
                </th>*@
                <th class="all">
                    @Resource.GetKey("Modified_Date")
                </th>
@*                <th class="all">
                    @Resource.GetKey("Last_Login_Date")
                </th>*@
@*                <th class="all">
                    @Resource.GetKey("Enable_Access")
                </th>*@
                <th class="all">
                    @Resource.GetKey("User_Photo")
                </th>
                <th class="all">
                    @Resource.GetKey("GarageID")
                </th>
                <th class="all">
                    @Resource.GetKey("Creation_Date")
                </th>
@*                <th class="all">
                    @Resource.GetKey("UserType")
                </th>*@
                <th class="all">

                </th>
                <th class="all">

                </th>
            </tr>
        </thead>
        <tbody>
          
        </tbody>
    </table>
}else{
    <p><center>You are not authorized to access this page</center></p>
}

@section scripts{
    <script type="text/javascript">

        /* Start Success Engineer Info Pop Up */

        var successMessageInfo = "@Html.Raw(ViewBag.EngineerCreatedInfo)";
        var successMessage = "@ViewBag.EngineerCreated";

        if (successMessage == "Successfully") {
            $(document).ready(function () {
                $('#successCreatedUserModal').modal('show');
                $('#successMessageInfoPlaceholder').text(successMessageInfo); // Set the success message
                $('#successCreatedUserModal').on('shown.bs.modal', function () {
                    // Get the modal dialog
                    var modalDialog = $(this).find('.modal-dialog');
                    // Calculate top margin for centering
                    var marginTop = ($(window).height() - modalDialog.outerHeight()) / 2;
                    // Set the top margin
                    modalDialog.css('margin-top', marginTop);
                });
            });
        } else if (successMessage == "Failed") {
            $(document).ready(function () {
                $('#failedCreatedUserModal').modal('show');
                $('#failedMessageInfoPlaceholder').text(successMessageInfo); // Set the success message
                $('#failedCreatedUserModal').on('shown.bs.modal', function () {
                    // Get the modal dialog
                    var modalDialog = $(this).find('.modal-dialog');
                    // Calculate top margin for centering
                    var marginTop = ($(window).height() - modalDialog.outerHeight()) / 2;
                    // Set the top margin
                    modalDialog.css('margin-top', marginTop);
                });
            });
        }

        /* End Success Engineer Creation Info Pop Up */

        var table;
        var originalRowColors = [];
        $(function () {
            $('#engineersTable tbody').empty();
            $.get('@Url.Action("GetEngineersList", "Engineer")', function (data) {
                // Clear existing rows
                $('#engineersTable tbody').empty();
                // Iterate through the data and append rows to the table
                $.each(data, function (index, item) {
                    var row = '<tr>' +
                        '<td>' + item.name + '</td>' +
                        '<td>' + item.surname + '</td>' +
                        '</tr>';
                    $('#engineersTable tbody').append(row);
                });
                //$('#customersPlaceHolder').html(data);
                console.log(data);
                table = $('#engineersTable').DataTable({
                    dom: "<'row'<'col-sm-6'B><'col-sm-6'<'pull-right'lf>>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-1'><'col-sm-6'p>>",
                    initComplete: function () {
                        // Add spacing between "Show x entries" and "Search" elements
                        $('.dataTables_length').css('margin-right', '20px');
                    },
                    buttons: [
                        {
                            text: '<i class="fa fa-check-square-o"></i>',
                            className: 'btn btn-success',
                            action: function () {
                                table.rows({ page: 'current' }).select(); // Select visible rows on current page
                                //table.rows().select();
                                var selectedRows = table.rows({ selected: true }).nodes(); // Get selected rows
                                $(selectedRows).css('background-color', '#34baeb'); // Set background color to blue for selected rows
                            },
                            init: function (api, node, config) {
                                $(node).tooltip({
                                    title: decodeResourceText('@Resource.GetKey("Select_All")'), // Tooltip text
                                    placement: 'bottom', // Tooltip placement
                                    trigger: 'hover' // Show tooltip on hover
                                });
                            }
                        },
                        {
                            text: '<i class="fa fa-minus-square-o"></i>',
                            className: 'btn btn-danger',
                            action: function () {
                                table.rows({ page: 'current' }).deselect(); // Deselect visible rows on current page
                                //table.rows().deselect();
                                var deselectedRows = table.rows().nodes(); // Get all rows
                                $(deselectedRows).css('background-color', function (index) {
                                    return originalRowColors[index]; // Restore original background color for each row
                                });
                            },
                            init: function (api, node, config) {
                                $(node).tooltip({
                                    title: decodeResourceText('@Resource.GetKey("Unselect_All")'), // Tooltip text
                                    placement: 'bottom', // Tooltip placement
                                    trigger: 'hover' // Show tooltip on hover
                                });
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel-o"></i>',
                            className: 'btn btn-primary',
                            exportOptions: {
                                orthogonal: 'sort',
                                columns: ':visible:not(.no-export)'
                            },
                            customize: function (xlsx) {
                                var selectedRowCount = table.rows({ selected: true }).count();
                                console.log("Selected: " + selectedRowCount);

                                if (selectedRowCount === 0) {
                                    if (!xlsx.xl.worksheets['sheet1.xml'].sheetData) {
                                        xlsx.xl.worksheets['sheet1.xml'].sheetData = [];
                                    }
                                    var messageRow = {
                                        row: [
                                            {
                                                c: [
                                                    { v: 'No rows selected!', s: { fontId: 2 } }
                                                ]
                                            }
                                        ]
                                    };
                                    xlsx.xl.worksheets['sheet1.xml'].sheetProtection = { password: '1234', sheet: true };
                                    xlsx.xl.worksheets['sheet1.xml'].sheetViews = [{ showGridLines: false }];
                                    xlsx.xl.worksheets['sheet1.xml'].sheetFormatPr = { defaultRowHeight: 15 };
                                    xlsx.xl.worksheets['sheet1.xml'].dimension = { ref: "A1:B2" };

                                    // Prepend the message row to the sheetData array
                                    xlsx.xl.worksheets['sheet1.xml'].sheetData.unshift(messageRow);
                                }
                            },
                            init: function (api, node, config) {
                                $(node).tooltip({
                                    title: decodeResourceText('@Resource.GetKey("Export_To_Excel")'), // Tooltip text
                                    placement: 'bottom', // Tooltip placement
                                    trigger: 'hover' // Show tooltip on hover
                                });
                            }
                        },
                        {
                            extend: 'print',
                            text: '<i class= "fa fa-print" > </i>',
                            className: 'btn btn-warning',
                            exportOptions: {
                                orthogonal: 'sort',
                                rows: { selected: true }, // Only export selected rows
                                columns: ':visible:not(.no-export)'
                            },
                            init: function (api, node, config) {
                                $(node).tooltip({
                                    title: decodeResourceText('@Resource.GetKey("Print")'), // Tooltip text
                                    placement: 'bottom', // Tooltip placement
                                    trigger: 'hover' // Show tooltip on hover
                                });
                            }
                        },{
                            extend: 'print',
                            text: '<i class="fa fa-file-pdf-o"></i>',
                            className: 'btn btn-dark',
                            exportOptions: {
                                orthogonal: 'sort',
                                rows: { selected: true }, // Only export selected rows
                                columns: ':visible:not(.no-export)'
                            },
                            init: function (api, node, config) {
                                $(node).tooltip({
                                    title: decodeResourceText('PDF'), // Tooltip text
                                    placement: 'bottom', // Tooltip placement
                                    trigger: 'hover' // Show tooltip on hover
                                });
                            },
                            action: function (e, dt, button, config) {
                                // Set window location to the download endpoint
                                window.location.href = '/PdfCreator/CreatePDF?entityType=3';
                            }
                        },
                        {
                            text: '<i class="fa fa-info-circle"></i>',
                            //titleAttr: 'Color Explanation',
                            className: 'btn btn-info',
                            action: function () {
                                // Add action here if needed
                            },
                            init: function (api, node, config) {
                                $(node).popover({
                                    placement: 'top',
                                    content: $('#colorExplanation').html(),
                                    html: true,
                                    trigger: 'hover', // Show popover on hover
                                    delay: { show: 0, hide: 100 } // Add a small delay to avoid flickering
                                }).on('shown.bs.popover', function () {
                                    $('.popover-content').css('font-size', '12px'); // Set font size for popover content
                                    $('.popover').css('max-width', '200px'); // Set max width for popover
                                });
                            }
                        }
                    ],
                    data: data,
                    columns: [
                        {data:  'engineerID',"visible": false},
                        { data: 'engineerName' },
                        { data: 'engineerSurname' },
                        { data: 'engineerEmail' },
                        //{ data: 'password' },
                        //{ data: 'engineerSpeciality' },
                        { data: 'modifiedDate',
                            render: function (data, type, row) {
                                var modifiedDate = row.modifiedDate;

                                if (type === 'display' && modifiedDate) {
                                    var formattedDate = moment(modifiedDate).format('DD-MM-YYYY HH:mm:ss');
                                    return formattedDate;
                                }

                                // Return the original data for sorting and filtering
                                return data;
                            }
                        },
                        //{ data: 'lastLoginDate',
                        //    render: function (data, type, row) {
                        //        var lastLoginDate = row.lastLoginDate;

                        //        if (type === 'display' && lastLoginDate) {
                        //            var formattedDate = moment(lastLoginDate).format('DD-MM-YYYY HH:mm:ss');
                        //            return formattedDate;
                        //        }

                        //        // Return the original data for sorting and filtering
                        //        return data;
                        //    }
                        //},
                        //{ data: 'enableAccess' },
                        {
                            data: 'engineerPhoto',
                            "visible": false
                        },
                        { data: 'garageID' },
                        { data: 'creationDate',
                            render: function (data, type, row) {
                                var creationDate = row.creationDate;

                                if (type === 'display' && creationDate) {
                                    var formattedDate = moment(creationDate).format('DD-MM-YYYY HH:mm:ss');
                                    return formattedDate;
                                }

                                // Return the original data for sorting and filtering
                                return data;
                            }
                        },
                        //{ data: 'userType' },
                        {
                            data: null,
                            render: function (data, type, row) {
                                    return '<div class="btn-group" role="group">' +
                                               '<a href="#" class="btn btn-email" title="@Resource.GetKey("Send_Email")" data-id="'+ row.id +'" data-email="'+ row.email +'" ><i class="fa fa-envelope" style="color:#0366d6"></i></a>' +
                                    '<a href="#" class="btn btn-edit" title="@Resource.GetKey("Edit")" id="btnEditCustomer" data-id="' + row.id + '" ><i class="fas fa-user-edit" style="color:red"></i></a>' +
                                           '</div>';
                            },
                            "width": "150px"
                        },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return '<input type="checkbox">';
                            }
                        }
                    ],
                    select: {style: 'multi'},
                    "columnDefs": [
                        {
                            "targets": [0, 6, 9],
                            "visible": false
                        },
                        {
                            "targets": [3, 8, 9],
                            "orderable": false
                        }
                    ],
                    "rowCallback": function (row, data) {
                        var enableAccess = data.enableAccess;
                        console.log("Enable Access: " + enableAccess);
                        if (enableAccess === 2) {
                            console.log("2");
                            $(row).css('background-color', '#f0be63');
                        } else if (enableAccess === 3) {
                            console.log("3");
                            $(row).css('background-color', '#aca8b3');
                        } else {
                            console.log("Other");
                            $(row).css('background-color', '#FAFCFE');
                        }
                        originalRowColors.push($(row).css('background-color'));

                        $('td', row).css('vertical-align', 'middle'); // For vertical middle allignment
                    },
                    "language": {
                        "lengthMenu": "@Resource.GetKey("Show_DataTable") _MENU_ @Resource.GetKey("Entries_Per_Page")",
                        "zeroRecords": "@Resource.GetKey("No_Matching_Records_Found_DataTable")",
                        "info": "@Resource.GetKey("Show_DataTable") _START_ @Resource.GetKey("To_DataTable") _END_ @Resource.GetKey("Of_DataTable") _TOTAL_ @Resource.GetKey("Entries_DataTable")",
                        "infoEmpty": "@Resource.GetKey("Showing_Empty_DataTable")",
                        "infoFiltered": "(@Resource.GetKey("Filtered_From_DataTable") _MAX_ @Resource.GetKey("Total_DataTable") @Resource.GetKey("Entries_DataTable"))",
                        "search": "@Resource.GetKey("Search"):",
                        "select": {
                            rows: {
                                _: '%d @Resource.GetKey("Rows_Selected")',
                                0: '',
                                1: '@Resource.GetKey("One_Row_Selected")'
                            }
                        },
                        "paginate": {
                            "first": "First",
                            "last": "Last",
                            "next": "@Resource.GetKey("Next_DataTable")",
                            "previous": "@Resource.GetKey("Previous_DataTable")"
                        }
                    }
                });
            });
        });

        $('#engineersTable').show();

        $('#engineersTable tbody').on('click', 'tr', function () {
            // Toggle selected class
            $(this).toggleClass('selected');
            var rowIndex = $(this).index(); // Get the index of the clicked row
            if ($(this).hasClass('selected')) {
                $(this).css('background-color', '#34baeb');
            } else {
                $(this).css('background-color', originalRowColors[rowIndex]);
            }
        });

        // Handle Select All
        function selectAll() {
            // Check all checkboxes
            $('#engineersTable tbody input[type="checkbox"]').prop('checked', true);

            // Add selected class and change background color to blue
            $('#engineersTable tbody tr').addClass('selected-row').css('background-color', '#326da8');
        }

        // Handle Diselect All
        function deselectAll() {
            $('#engineersTable tbody input[type="checkbox"]').prop('checked', false);
            // Remove selected class and revert background color
            $('#engineersTable tbody tr').removeClass('selected-row').each(function () {
                var enableAccessIndex = 6; // 7th column index (zero-based)
                var enableAccess = $(this).find('td:eq(' + enableAccessIndex + ')').text();
                var conditionB = true; // Sample condition, replace it with your actual condition

                var color = (enableAccess === "1" && conditionB) ? '#FAFCFE' : (enableAccess === "2" ? '#eb6534' : 'red');
                $(this).css('background-color', color);
            });
        }

        // Handle email button click
        $('#engineersTable tbody').on('click', 'a.btn-email', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var id = $(this).data('id');
            var email = $(this).data('email');
            var url = "@Url.Action("SendEmailToUser", "Email")" + '/?id=' + id + '&usertype=2';
            // Load partial view into the container
            $.get(url, function (response) {
                $('#sendEmailToEngineer').html(response);
                $('#sendEmailToEngineer').find('.modal').modal('show');
            });
        });

        // Handle edit button click
        $('#engineersTable tbody').on('click', 'a.btn-edit', function (e) {
            e.preventDefault();
            e.stopPropagation();
            // Get the DataTables row associated with the clicked edit button
            var rowData = $('#engineersTable').DataTable().row($(this).closest('tr')).data();
            // Retrieve the customerID value from the row data
            var id = rowData.engineerID;
            var url = "@Url.Action("EditEngineerPartial", "Engineer")" + '/?id=' + id + '&&garageID=' + @ViewBag.GarageID
            // Load partial view into the container
            $.get(url, function (response) {
                $('#editEngineerDIV').html(response);
                $('#editEngineerDIV').find('.modal').modal('show');
            });
        });

        $(function () {
            var addEngineerDIVElement = $('#addEngineerDIV');
            $('button[data-bs-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    addEngineerDIVElement.html(data);
                    addEngineerDIVElement.find('.modal').modal('show');
                })
            })

            //Save Add Makeform data
            addEngineerDIVElement.on('click', '[data-bs-save="modal"]', function (event) {
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr("action");
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (data) {
                    addEngineerDIVElement.find('.modal').modal('hide');
                    location.reload(true);
                })
            })
        })

        var message = "@ViewBag.SuccessMessage";
        if (message == "Successfully") {
            console.log('Successfully');
            $(document).ready(function () {
                $('#successModalEngineer').modal('show');
            });
            //alert(message);
        } else if (message == "Failed") {
            console.log('Failed');
            $(document).ready(function () {
                $('#failedModalEngineer').modal('show');
            });
            //alert(message);
        }

        function SetViewBag() {
            $.ajax({
                type: "POST",
                url: '/Users/SetViewBag',
                data: '{ value: null}',
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (r) {

                }
            });
        }
    </script>
}