@model GaragePortalNewUI.Models.Users
@inject LanguageService Resource


<div id="EditEngineer" name="EditEngineer" class="modal" tabindex="-1" role="form">
    <div class="modal-dialog draggable" role="document" >
        <div class="modal-content">
            <div class="modal-header dragable_touch d-block">
                <h5 class="modal-title">@Resource.GetKey("Edit_Customer_Profile")</h5>
@*                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <form asp-action="EditEngineer" enctype="multipart/form-data">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">@Resource.GetKey("Name")</label>
                        <input asp-for="Name" class="form-control" />
                        @*<span asp-validation-for="Name" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label">@Resource.GetKey("Surname")</label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" value="********" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserPhoto" class="control-label"></label>
                        <input type="file" class="form-control-file form-control" id="files" asp-for="UserPhoto" name="Image" accept="image/*" onchange="previewImage()">
                        <span asp-validation-for="UserPhoto" class="text-danger"></span>
                        @Html.ValidationMessageFor(m => m.UserPhoto)
                    </div>
                    @Html.HiddenFor(model => model.UserType)
                    @Html.HiddenFor(model => model.CreationDate)
                    @Html.HiddenFor(model => model.LastLoginDate)
                    @Html.HiddenFor(model => model.EnableAccess)
                    <div class="modal-footer">
                        <button type="submit" value="Create" class="btn btn-success">@Resource.GetKey("Edit")</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">@Resource.GetKey("Cancel")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.draggable').draggable({
            handle: '.modal-header'
        });
    });
</script>