@model IEnumerable<GaragePortalNewUI.Models.Users>
@inject LanguageService Resource

@{
    ViewData["Title"] = @Resource.GetKey("List_of_Customers");
}

@if (@ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Admin.ToString())
{
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <center><p>@Resource.GetKey("Your_email_has_been_sent_successfully.")</p></center>
                    <center><button type="button" class="btn btn-primary" data-dismiss="modal">OK</button></center>
                </div>  
            </div>
        </div>
    </div>

    <div class="modal fade" id="failedModal" tabindex="-1" role="dialog" aria-labelledby="failedModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                        <p>@Resource.GetKey("Your_email_did_not_send.")</p>
                        <p>@Resource.GetKey("Please_try_again_later.")</p>
                    </center>
                    <center><button type="button" class="btn btn-primary" data-dismiss="modal">OK</button></center>
                </div>
            </div>
        </div>
    </div>

    <div id="addCustomerDIV"></div>
    <div id="editCustomerDIV"></div>
    <div id="sendEmailToCustomer"></div>
    <button class="btn btn-sm btn-primary m-2" id="btnAddCustomer" data-bs-toggle="ajax-modal" data-bs-target="#AddCustomer" data-url="@Url.Action("CreateCustomerPartial")">@Resource.GetKey("Add_New_Customer")</button>
    <div>
        <br><br>
        @using (Html.BeginForm("Customers", "Users", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        @Html.Partial("_SearchPartialView")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("searchValue",null, new {Class = "form-control",placeholder=@Resource.GetKey("Enter_Details_for_Search")})
                    </td>
                    <td>
                        <input type="submit" id="Search" value="@Resource.GetKey("Search")" class="btn btn-success" />
                    </td>
                    <td>
                        <a class="af" asp-controller="PdfCreator" asp-action="CreatePDF" asp-route-entityType="2">@Resource.GetKey("Download_Users")</a>
                    </td>
                </tr>

            </table>
        }
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th data-sort="string">
                    @Resource.GetKey("Name")
                </th>
                <th data-sort="string">
                    @Resource.GetKey("Surname")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th data-sort="date">
                    @Resource.GetKey("Creation_Date")
                </th>
                <th>
                    @Resource.GetKey("Modified_Date")
                </th>
                <th data-sort="date">
                    @Resource.GetKey("Last_Login_Date")
                </th>
                <th>
                    @Resource.GetKey("User_Photo")
                </th>
                <th></th>
                <th colspan="3">@Resource.GetKey("Total_Customers"): @Model.Count()</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastLoginDate)
                    </td>
                    <td>
                        @if (!(item.UserPhoto is null))
                        {
                            <img src="data:image/jpg;base64, @Convert.ToBase64String(item.UserPhoto)" width="50" height="50" />
                        }
                    </td>
                    <td>
                        <a class="af" asp-controller="UserModels" asp-action="ViewCustomerCars" asp-route-id="@item.ID">@Resource.GetKey("View_Cars")</a>
                    </td>
                    <td>
                        <a class="af" asp-controller="Email" asp-action="SendEmailToUser" asp-route-id="@item.ID" asp-route-email="@item.Email" asp-route-userType="2">@Resource.GetKey("Send_Email")</a>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary m-2" id="btnEditCustomer" data-bs-toggle="ajax-modal" data-bs-target="#EditCustomer" data-url="@Url.Action("EditCustomerPartial",new{id = @item.ID, garageID = @item.GarageID})">@Resource.GetKey("Edit")</button>
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><center>You are not authorized to access this page</center></p>
}


@section scripts{
    <script type="text/javascript">
        $(function () {
            var addCustomerDIVElement = $('#addCustomerDIV');

            $('button[data-bs-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    addCustomerDIVElement.html(data);
                    addCustomerDIVElement.find('.modal').modal('show');
                })
            })

            //Save Add Makeform data
            addCustomerDIVElement.on('click', '[data-bs-save="modal"]', function (event) {

                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr("action");
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (data) {
                    addCustomerDIVElement.find('.modal').modal('hide');
                    location.reload(true);
                })
            })
        })

        var message = "@ViewBag.SuccessMessage";
        @{
            ViewBag.SuccessMessage = "null";
        }
        if (message == "Successfully") {
            console.log('Successfully');
            $(document).ready(function () {
                
                $('#successModal').modal('show');
            });
            //alert(message);
        } else if (message == "Failed") {
            console.log('Failed');
            $(document).ready(function () {
                $('#failedModal').modal('show');
            });
            //alert(message);
        }
    </script>
}