@model IEnumerable<GaragePortalNewUI.Models.Users>
@inject LanguageService Resource

@{
    ViewData["Title"] = @Resource.GetKey("List_of_Customers");
}

@if (@ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Admin.ToString())
{
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <center><p>@Resource.GetKey("Your_email_has_been_sent_successfully.")</p></center>
                    <center><button type="button" class="btn btn-primary" data-dismiss="modal" onclick="SetViewBag()">OK</button></center>
                </div>  
            </div>
        </div>
    </div>


    <div class="modal fade" id="failedModal" tabindex="-1" role="dialog" aria-labelledby="failedModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                        <p>@Resource.GetKey("Your_email_did_not_send.")</p>
                        <p>@Resource.GetKey("Please_try_again_later.")</p>
                    </center>
                    <center><button type="button" class="btn btn-primary" data-dismiss="modal" onclick="SetViewBag()">OK</button></center>
                </div>
            </div>
        </div>
    </div>

    <div id="addCustomerDIV"></div>
    <div id="editCustomerDIV"></div>
    <div id="sendEmailToCustomer"></div>
    <button class="btn btn-sm btn-primary m-2" id="btnAddCustomer" data-bs-toggle="ajax-modal" data-bs-target="#AddCustomer" data-url="@Url.Action("CreateCustomerPartial")">@Resource.GetKey("Add_New_Customer")</button>

    <br>
    <br>
    <div id="customersPlaceHolder"></div>
    <table id="customersTable" class="table table-striped" style="display: none">
        <thead>
            <tr>
                <th class="all">
                    @Resource.GetKey("ID")
                </th>
                <th class="all">
                    @Resource.GetKey("Surname")
                </th>
                <th class="all">
                    @Resource.GetKey("Name")
                </th>
                <th class="all">
                    @Resource.GetKey("Email")
                </th>
                <th class="all">
                    @Resource.GetKey("Password")
                </th>
                <th class="all">
                    @Resource.GetKey("Modified_Date")
                </th>
                <th class="all">
                    @Resource.GetKey("Last_Login_Date")
                </th>
                <th class="all">
                    @Resource.GetKey("Enable_Access")
                </th>
                <th class="all">
                    @Resource.GetKey("User_Photo")
                </th>
                <th class="all">
                    @Resource.GetKey("Engineer_Speciality")
                </th>
                <th class="all">
                    @Resource.GetKey("GarageID")
                </th>
                <th class="all">
                    @Resource.GetKey("Creation_Date")
                </th>
                <th class="all">
                    @Resource.GetKey("UserType")
                </th>
                <th class="all">

                </th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
}
else
{
    <p><center>You are not authorized to access this page</center></p>
}


@section scripts{
    <script type="text/javascript">
        $(function(){
            $('#customersTable tbody').empty();
            $.get('@Url.Action("GetCustomersList", "Users")', function (data) {
                // Clear existing rows
                $('#customersTable tbody').empty();
                // Iterate through the data and append rows to the table
                $.each(data, function (index, item) {
                    var row = '<tr>' +
                        '<td>' + item.name + '</td>' +
                        '<td>' + item.surname + '</td>'+
                        '</tr>';
                    $('#customersTable tbody').append(row);
                });
                console.log(data);
                var table = $('#customersTable').DataTable({
                    data: data,
                    columns: [
                        {
                            data: 'id',
                            "visible": false
                        },
                        { data: 'surname' },
                        { data: 'name' },
                        { data: 'email' },
                        { data: 'password' },
                        { data: 'modifiedDate',
                            render: function (data, type, row) {
                                var modifiedDate = row.modifiedDate;

                                if (type === 'display' && modifiedDate) {
                                    var formattedDate = moment(modifiedDate).format('DD-MM-YYYY HH:mm:ss');
                                    return formattedDate;
                                }

                                // Return the original data for sorting and filtering
                                return data;
                            },
                            "className": "text-center"
                        },
                        { data: 'lastLoginDate',
                            render: function (data, type, row) {
                                var lastLoginDate = row.lastLoginDate;

                                if (type === 'display' && lastLoginDate) {
                                    var formattedDate = moment(lastLoginDate).format('DD-MM-YYYY HH:mm:ss');
                                    return formattedDate;
                                }

                                // Return the original data for sorting and filtering
                                return data;
                            },
                            "className": "text-center"
                        },
                        { data: 'enableAccess' },
                        { data: 'userPhoto',
                            render: function (data, type, row) {
                                var userPhoto = row.userPhoto;
                                if (userPhoto) {
                                    return '<img src="data:image/jpg;base64,' + userPhoto + '"width="40px height="50px">';
                                } else {
                                    return ''; // or some placeholder image if userPhoto is null or empty
                                }
                            },
                            "className": "text-center"
                        },
                        { data: 'engineerSpeciality' },
                        { data: 'garageID' },
                        { data: 'creationDate',
                            render: function (data, type, row) {
                                var creationDate = row.creationDate;

                                if (type === 'display' && creationDate) {
                                    var formattedDate = moment(creationDate).format('DD-MM-YYYY HH:mm:ss');
                                    return formattedDate;
                                }

                                // Return the original data for sorting and filtering
                                return data;
                            },
                            "className": "text-center"
                        },
                        { data: 'userType'},
                        {
                            data: null,
                            render: function (data, type, row) {
                                    var id = row.id;
                                    var url = "@Url.Action("ViewCustomerCars", "UserModels")" + '/?id=' + id;
                                    return '<div class="btn-group" role="group">' +
                                    '<a href="' + url + '" class="btn btn-view" title="@Resource.GetKey("List_Of_User_Cars")" data-id="' + row.id + '"><i class="fa fa-car" style="color:black"></i></a>' +
                                               '<a href="#" class="btn btn-email" title="@Resource.GetKey("Send_Email")" data-id="' + row.id + '" data-email="' + row.email + '" ><i class="fa fa-envelope" style="color:#0366d6"></i></a>' +
                                               '<a href="#" class="btn btn-edit" title="@Resource.GetKey("Edit")" id="btnEditCustomer" data-id="' + row.id + '" ><i class="fa fa-edit" style="color:orange"></i></a>' +
                                           '</div>';
                            },
                            "width": "80px",
                            "className": "text-center"
                        }
                    ]
                });
                $('#customersTable').show();
                $('#customersTable').DataTable({
                    "pageLength": 10,
                    "searching": true,
                    "paging": true,
                    "destroy": true,
                    "scrollCollapse": true,
                    "scrollY": '600px',
                    "columnDefs": [
                        {
                            "targets": [0,4,9,10,12],
                            "visible": false
                        },
                        {
                            "targets": [3,12,13],
                            "orderable": false
                        }
                    ],
                    "language": {
                        "lengthMenu": "@Resource.GetKey("Show_DataTable") _MENU_ @Resource.GetKey("Entries_Per_Page")",
                        "zeroRecords": "@Resource.GetKey("No_Matching_Records_Found_DataTable")",
                        "info": "@Resource.GetKey("Show_DataTable") _START_ @Resource.GetKey("To_DataTable") _END_ @Resource.GetKey("Of_DataTable") _TOTAL_ @Resource.GetKey("Entries_DataTable")",
                        "infoEmpty": "@Resource.GetKey("Showing_Empty_DataTable")",
                        "infoFiltered": "(@Resource.GetKey("Filtered_From_DataTable") _MAX_ @Resource.GetKey("Total_DataTable") @Resource.GetKey("Entries_DataTable"))",
                        "search": "@Resource.GetKey("Search"):",
                        "paginate": {
                            "first": "First",
                            "last": "Last",
                            "next": "@Resource.GetKey("Next_DataTable")",
                            "previous": "@Resource.GetKey("Previous_DataTable")"
                        }
                    }
                });
            });
        });

        //// Handle View Customer Cars button click
        //$('#customersTable tbody').on('click', 'button.btn-view', function (e) {
        //    e.preventDefault();
        //    var id = $(this).data('id');
        //    var url = "@Url.Action("ViewCustomerCars", "UserModels")" + '/?id=' + id;
        //    //window.open(url, '_blank'); // For new tab
        //    window.location.href = url; // For the current tab
        //});

        
        // Handle email button click
        $('#customersTable tbody').on('click', 'a.btn-email', function (e) {
            e.preventDefault(); // Prevent the default link behavior (navigating away)
            var id = $(this).data('id');
            var email = $(this).data('email');
            var url = "@Url.Action("SendEmailToUser", "Email")" + '/?id=' + id + '&email=' + email;
            // Load partial view into the modal body
            $.get(url, function (response) {
                $('#sendEmailToCustomer').html(response);
                $('#sendEmailToCustomer').find('.modal').modal('show');
            });
        });

        // Handle edit button click
        $('#customersTable tbody').on('click', 'a.btn-edit', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var url = "@Url.Action("EditCustomerPartial", "Users")" + '/?id=' + id + '&&garageID=' + @ViewBag.GarageID;
            // Load partial view into the container
            $.get(url, function (response) {
                $('#editCustomerDIV').html(response);
                $('#editCustomerDIV').find('.modal').modal('show');
            });
        });

        $(function () {
            var addCustomerDIVElement = $('#addCustomerDIV');

            $('button[data-bs-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    addCustomerDIVElement.html(data);
                    addCustomerDIVElement.find('.modal').modal('show');
                })
            })

            //Save Add Makeform data
            addCustomerDIVElement.on('click', '[data-bs-save="modal"]', function (event) {

                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr("action");
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (data) {
                    addCustomerDIVElement.find('.modal').modal('hide');
                    location.reload(true);
                })
            })
        })

        var message = "@ViewBag.SuccessMessage";
        @{
            ViewBag.SuccessMessage = "null";
        }
        if (message == "Successfully") {
            console.log('Successfully');
            $(document).ready(function () {
                $('#successModal').modal('show');
            });
            //alert(message);
        } else if (message == "Failed") {
            console.log('Failed');
            $(document).ready(function () {
                $('#failedModal').modal('show');
            });
            //alert(message);
        }

        function SetViewBag() {
            $.ajax({
                type: "POST",
                url: '/Users/SetViewBag',
                data: '{ value: null}',
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (r) {

                }
            });
        }
    </script>
}