@{
    ViewData["Title"] = "Garage Management Software";
}

@inject LanguageService Resource


@if (@ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Admin.ToString())
{
    <p>
        <button class="btn btn-sm btn-primary m-2" id="btnQuickAddCarServiceHistory" data-bs-toggle="ajax-modal" data-bs-target="#QuickAddCarServiceHistory" data-url="@Url.Action("QuickCreateUserModelServiceHistoryPartial","UserModels")">@Resource.GetKey("Quick_Add_Service_History")</button>
    </p>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center pt-5  h-100">
            @*<button class="btn btn-primary" id="btnQuickAddCarServiceHistory">Quick Service Add</button>*@
            <div id="quickAddCarServiceHistoryDIV"></div>
        </div>
    </div>
    <div class="form-row">
    <div class="form-group col-sm-6">
        <br><br>
        @using (Html.BeginForm("ViewCarDetails", "UserModels", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        @Html.Partial("../UserModels/_SearchUserModelsPartialView")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("searchValue",null, new {Class = "form-control",id="quickServiceHistorySearch",placeholder=@Resource.GetKey("Enter_Details_for_Quick_Service_History_Search")})
                    </td>
                    <td>
                        <input type="submit" id="Search" value="@Resource.GetKey("Search")" class="btn btn-success" />
                    </td>
                </tr>

            </table>
        }
    </div>

    <div class="form-group col-sm-6">
        <br><br>
        @using (Html.BeginForm("Customers", "Users", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        @Html.Partial("../Users/_SearchPartialView")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("searchValue",null, new {Class = "form-control",placeholder=@Resource.GetKey("Enter_Details_for_Quick_Search")})
                    </td>
                    <td>
                        <input type="submit" id="Search" value="@Resource.GetKey("Search")" class="btn btn-success" />
                    </td>
                </tr>
            </table>
        }
    </div>
    </div>
}else{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}


@section scripts{
    <script type="text/javascript">
        //Show Add Make Modal
        $(function () {
            var QuickAddCarServiceHistoryElement = $('#quickAddCarServiceHistoryDIV');

            $('button[data-bs-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    QuickAddCarServiceHistoryElement.html(data);
                    QuickAddCarServiceHistoryElement.find('.modal').modal('show');
                })
            })

            //Save Add Makeform data
            QuickAddCarServiceHistoryElement.on('click', '[data-bs-save="modal"]', function (event) {

                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr("action");
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (data) {
                    QuickAddCarServiceHistoryElement.find('.modal').modal('hide');
                    location.reload(true);
                })
            })

        })
    </script>
}