@model IEnumerable<GaragePortalNewUI.Models.UserModels>
@inject LanguageService Resource
@{
    ViewData["Title"] = Resource.GetKey("Privacy");
}


@if (@ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Admin.ToString())
{
    <p>Welcome @ViewBag.UserType - @ViewBag.ID - @ViewBag.Name - @ViewBag.Surname</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModelName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (@ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Customer.ToString())
{
    <p>Welcome user: @ViewBag.Name - @ViewBag.Surname</p>

}
else
{
    <p>You need to login first</p>
}
