@model GaragePortalNewUI.Models.ServiceHistoryDTO
@inject LanguageService Resource

@*@{
    ViewData["Title"] = @Resource.GetKey("Add_Service_History");
}*@

<div id="AddCarServiceHistory" name="AddCarServiceHistory" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog draggable" role="document" >
        <div class="modal-content" id="modalContentCustomCSS">
            <div class="modal-header dragable_touch d-block">
                <h5 class="modal-title">@Resource.GetKey("Quick_Add_Service_History")<h5>
@*                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <form method="post" asp-action="QuickCreateUserModelServiceHistory" asp-controller="UserModels" enctype="multipart/form-data">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<input type="hidden" asp-for="UserModelsID" value="@ViewBag.CarDetailsID" />*@
                    <input type="hidden" asp-for="GarageID" value="@ViewBag.GarageID" />
                    <div class="form-row quickServiceHistoryCustomer">
                        <div class="form-group col-sm-4">
                            <label class="control-label">@Resource.GetKey("Customer")</label>
                            <br />
                            <select id="ShowCustomers" onchange="test()" class=" form-control">
                                <option value='0'>--@Resource.GetKey("Select_Customer")--</option>
                            </select>
                            @*<span asp-validation-for="EngineerID" class="text-danger"></span>*@
                            <br />
                        </div>
                        <div class="form-group quickServiceHistory col-sm-8">
                            <label asp-for="UserModelsID" class="control-label asterisk">@Resource.GetKey("Customer_Car")</label>
                            <br />
                            <select id="ShowCustomerCars" asp-for="UserModelsID" class="form-control" required>
                                <option value='0'>--@Resource.GetKey("Select_Car")--</option>
                            </select>
                            @*<span asp-validation-for="EngineerID" class="text-danger"></span>*@
                            <br />
                        </div>
                    </div>
                    <div class="form-row quickServiceHistory">
                        <div class="form-group col-sm-4">
                            <label asp-for="ServiceDate" class="control-label">@Resource.GetKey("Service_Date")</label>
                            <input asp-for="ServiceDate" class="form-control" />
                            <span asp-validation-for="ServiceDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="ServiceKilometer" class="control-label">@Resource.GetKey("Service_Kilometer")</label>
                            <input asp-for="ServiceKilometer" class="form-control" />
                            <span asp-validation-for="ServiceKilometer" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="EngineerID" class="control-label">@Resource.GetKey("Service_Engineer")</label>
                            <br />
                            <select id="ShowEngineers" asp-for="EngineerID" class="form-control">
                                <option value='0'>--@Resource.GetKey("Select_Engineer")--</option>
                            </select>
                            <span asp-validation-for="EngineerID" class="text-danger"></span>
                            <br />
                        </div>
                    </div>
                    <div class="form-group quickServiceHistoryServiceItems">
                        <label asp-for="ServiceItemsList" class="control-label">@Resource.GetKey("List_Of_Service_Items") (@Resource.GetKey("Select_Multiple_Service_Items"))</label>
                        <br />
                        <select id="ServiceItems" asp-for="ServiceItemsList" class="form-control select2" onchange="CalculatePrice()" multiple>
                            @*<option value='0'>--@Resource.GetKey("Select_Service_Items")--</option>*@
                        </select>
                        <span asp-validation-for="ServiceItemsList" class="text-danger"></span>
                        <br />
                    </div>
                    <div class="form-group quickServiceHistoryCommentBox">
                        <label asp-for="Description" class="control-label">@Resource.GetKey("General_Comment")</label>
                        <textarea asp-for="Description" class="form-control" rows="4" cols="50"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-row quickServiceHistoryPrice">
                        <div class="form-group col-sm-4 ">
                            <div class="input-icon input-icon-right">
                                <label asp-for="StartPrice" class="control-label">@Resource.GetKey("Start_Price")</label>
                                <input asp-for="StartPrice" class="form-control" placeholder="0,00" onchange="setFinalPrice()" />
                                <i>€</i>
                                <span asp-validation-for="StartPrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 ">
                            <div class="input-icon input-icon-right">
                                <label asp-for="DiscountPrice" class="control-label">@Resource.GetKey("Discount_Price")</label>&nbsp;&nbsp;
                                <input type="checkbox" id="percentage" name="percentage" onclick="checkDiscountType(0)" />
                                <label for="horns">@Resource.GetKey("Price_Percentage")</label>
                                <input asp-for="DiscountPrice" class="form-control" placeholder="0,00" onchange="setFinalPrice()" id="discountPrice">
                                <input asp-for="DiscountPercentage" class="form-control" placeholder="0,00" onchange="setFinalPrice()" id="discountPricePercentage">
                                <i id="discountPriceSymbol">€</i>
                                <i id="discountPricePercentageSymbol">%</i>
                                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 ">
                            <div class="input-icon input-icon-right">
                                <label asp-for="FinalPrice" class="control-label">@Resource.GetKey("Final_Price")</label>
                                <input asp-for="FinalPrice" class="form-control" placeholder="0,00"/>
                                <i>€</i>
                                <span asp-validation-for="FinalPrice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" value="Create" class="btn btn-success">@Resource.GetKey("Register_Customer")</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">@Resource.GetKey("Cancel")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.draggable').draggable({
            handle: '.modal-header'
        });

        $('#ServiceItems').select2({
            allowClear: true,
            placeholder: "",
            multiple: true
        });
        checkDiscountType(0);
        getServiceItems();

    });


    
    getServiceEngineers();

    $('#AddCarServiceHistory').keypress(
        function (event) {
            if (event.which == '13') {
                console.log("Enter Pressed");
                event.preventDefault();
            }
        });

    $(function () {
        var url = $(this).data('url');
        $.get(url).done(function (data) {
            $.getJSON('@Resources.SettingsResources.Uri' + '/GetCustomers/1')
                //$.getJSON('http://alefhome.ddns.net:8082/api/GetCarManufacturersToList')
                .done(function (data) {
                    // On success, 'data' contains a list of products.
                    $.each(data, function (key, item) {         
                        // Add a list item for the product.
                        $("#ShowCustomers").append($("<option></option>").val(item.id).html(item.surname + ' ' + item.name));
                    });
                });
        });
    });

    function clearDataModels() {
        var container = document.getElementById('ShowCustomerCars');
        //console.log('---Clear----');
        while (container.childNodes.length > 2) {
            container.removeChild(container.lastChild);
        }
    }

    function test(){
        var e = document.getElementById("ShowCustomers");
        var value = e.value;
        console.log(value);
        clearDataModels();
        $.getJSON('@Resources.SettingsResources.Uri' + '/GetUserModelByUserID/'+value)    
            //$.getJSON('http://alefhome.ddns.net:8082/api/GetCarManufacturersToList')
            .done(function (data) {
                var counter = 1;
                // On success, 'data' contains a list of products.
                $.each(data, function (key, item) {
                    // Add a list item for the product.
                    $("#ShowCustomerCars").append($("<option></option>").val(item.id).html(counter + ') ' + item.manufacturerName + ' ' + item.modelName + ' ' +  item.modelYear + ' (' + item.licencePlate + ' - ' + item.vin + ')'));
                    counter++;
                });
            });
    }
</script>