@model IEnumerable<GaragePortalNewUI.Models.ServiceHistory>
@inject LanguageService Resource
@{
    ViewData["Title"] = @Resource.GetKey("View_Car_Details");
}

@if (@ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Admin.ToString())
{
    <p>
        <button class="btn btn-sm btn-primary m-2" id="btnAddCarServiceHistory" asp-route-CustomerUserID="@ViewBag.CustomerUserID" data-bs-toggle="ajax-modal" data-bs-target="#AddCarServiceHistory" data-url="@Url.Action("CreateUserModelServiceHistoryPartial")">@Resource.GetKey("Add_Service_History")</button>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center pt-5  h-100">
                @*<button class="btn btn-primary" id="btnQuickAddCarServiceHistory">Quick Service Add</button>*@
                <div id="addCarServiceHistoryDIV"></div>
                <div id="CarServiceHistoryInformationDIV"></div>
            </div>
        </div>
    </p>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Resource.GetKey("Service_Date")
                </th>
                <th>
                    @Resource.GetKey("Service_Engineer")
                </th>
                <th>
                    @Resource.GetKey("Service_Kilometer")
                </th>
                <th>
                    @Resource.GetKey("Service_StartPrice")
                </th>
                <th>
                    @Resource.GetKey("Service_FinalPrice")
                </th>
                <th>
                    @Resource.GetKey("Service_Information")
                </th>
@*                <th>
                    Car Image
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname) @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceKilometer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
@*                    <td>
                        @if (item.CarImage != null)
                        {
                            <img src="data:image/jpg;base64, @Convert.ToBase64String(item.CarImage)" width="50" height="50" />
                        }
                    </td>*@
                    <td>
                        <button class="btn btn-sm btn-primary m-2" id="btnUserModelServiceHistoryInformation" data-bs-toggle="ajax-modal" data-bs-target="#CarServiceHistoryInformation" data-url="@Url.Action("UserModelServiceHistoryInformationPartial",new {id = @item.ID})">@Resource.GetKey("Service_Information")</button>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-danger m-2" asp-controller="UserModels" asp-action="DeleteUserModelServiceHistory" asp-route-id="@item.ID">@Resource.GetKey("Delete")</a>
                    </td>  
                </tr>
            }
        </tbody>
    </table>
}
else if (@ViewBag.UserType == GaragePortalNewUI.Enum.UserType.User.ToString()){
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Service Date
                    </th>
                    <th>
                        Engineer
                    </th>
                    <th>
                        Kilometer at Service
                    </th>
                    <th>
                        Starting Price of Service
                    </th>
                    <th>
                        Final Price of Service
                    </th>
                    <th>
                        Service History
                    </th>
                    <th>
                        Car Image
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname) @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceKilometer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FinalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @if (item.CarImage != null)
                            {
                                <img src="data:image/jpg;base64, @Convert.ToBase64String(item.CarImage)" width="50" height="50" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
}

@section scripts{
    <script type="text/javascript">
        //Show Add Make Modal
        $(function () {
            var AddCarServiceHistoryElement = $('#addCarServiceHistoryDIV');

            $('button[data-bs-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    AddCarServiceHistoryElement.html(data);
                    AddCarServiceHistoryElement.find('.modal').modal('show');
                })
            })

            //Save Add Makeform data
            AddCarServiceHistoryElement.on('click', '[data-bs-save="modal"]', function (event) {

                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr("action");
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (data) {
                    AddCarServiceHistoryElement.find('.modal').modal('hide');
                    location.reload(true);
                })
            })
        })
    </script>
}