@model IEnumerable<GaragePortalNewUI.Models.CustomerCars>
@inject LanguageService Resource
@{
    ViewData["Title"] = @Resource.GetKey("List_Of_User_Cars");
}


@if (@ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Admin.ToString())
{
    ViewData["Title"] = @Resource.GetKey("List_Of_User_Cars");
    <p>
        <div id="AddCustomerCarPartial"></div>
        <div id="editCarDetailsDIV"></div>  
        <button class="btn btn-sm btn-primary m-2" id="btnAddCustomerCar" asp-route-CustomerUserID="@ViewBag.CustomerUserID" data-bs-toggle="ajax-modal" data-bs-target="#AddCustomerCar" data-url="@Url.Action("CreateCustomerCarPartial")">@Resource.GetKey("Add_New_Car")</button>
        <br>
    </p>
    <div>
        <a class="af" asp-controller="PdfCreator" asp-action="CreatePDF" asp-route-entityType="4">@Resource.GetKey("Download_User_Cars")</a>
    </div>

    <div id="editCustomerCarDetailsDIV"></div>
    <div id="customerCarsPlaceHolder"></div>
    <div id="addCustomerCarServiceHistoryDiv"></div>
    <table id="customerCarsTable" class="table table-striped" style="display: none">
        <thead>
            <tr>
                <th class="all">
                    @Resource.GetKey("ID")
                </th>
                <th class="all">
                    @Resource.GetKey("Model_Manufacturer")
                </th>
                <th class="all">
                    @Resource.GetKey("Model")
                </th>
                <th class="all">
                    @Resource.GetKey("Model_Year")
                </th>
                <th class="all">
                    @Resource.GetKey("Color")
                </th>
                <th class="all">
                    @Resource.GetKey("Licence_Plate")
                </th>
                <th class="all">
                    @Resource.GetKey("Kilometer")
                </th>
                <th class="all">
                    @Resource.GetKey("Car_Image")
                </th> 
                <th class="all">
                    @Resource.GetKey("Engine_Type")
                </th>
                <th class="all">
                    @Resource.GetKey("VIN")
                </th>
                <th></th>
                <th class="all">

                </th>
                
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
    <p></p>
}
else if (@ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Customer.ToString()){
    ViewData["Title"] = @Resource.GetKey("List_Of_MyCars");
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Resource.GetKey("Model_Manufacturer")
                </th>
                <th>
                    @Resource.GetKey("Model")
                </th>
                <th>
                    @Resource.GetKey("Model_Year")
                </th>
                <th>
                    @Resource.GetKey("Color")
                </th>
                <th>
                    @Resource.GetKey("Licence_Plate")
                </th>
                <th>
                    @Resource.GetKey("Kilometer")
                </th>
                <th>
                    @Resource.GetKey("Car_Image")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufacturerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicencePlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kilometer)
                    </td>
                    <td>
                        @if (!(item.CarImage is null))
                        {
                            <img src="data:image/jpg;base64, @Convert.ToBase64String(item.CarImage)" width="50" height="50" />
                        }
                    </td>
                    <td>
                        <a class="af" asp-controller="CustomerCars" asp-action="ViewCarDetails" asp-route-id="@item.ID">@Resource.GetKey("View_Car_History")</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            // Retrieve data from query parameter
            var jsonData = localStorage.getItem('customerCarsData');
            //console.log('Retrieved data from localStorage:', jsonData);
            var data = JSON.parse(jsonData);
            $('#customerCarsTable tbody').empty();
            $('#customerCarsTable').DataTable({
                data: data,
                columns: [
                    { data: 'id' },
                    { data: 'manufacturerName' },
                    { data: 'modelName' },
                    { data: 'modelYear' },
                    { data: 'color' },
                    { data: 'licencePlate' },
                    { data: 'kilometer' },
                    {
                        data: 'carImage',
                        render: function (data, type, row) {
                            var carImage = row.carImage;
                            if (carImage) {
                                return '<img src="data:image/jpg;base64,' + carImage + '"width="40px height="50px">';
                            } else {
                                return ''; // or some placeholder image if userPhoto is null or empty
                            }
                        },
                        "className": "text-center"
                    },
                    { data: 'fuelType' },
                    { data: 'vin'},
                    {
                        data: null,
                        render: function (data, type, row) {
                            var id = row.id;
                            var url = "@Url.Action("ViewCustomerCars", "UserModels")" + '/?id=' + id;
                            return '<div class="btn-group" role="group">' +
                                '<a href="#" class="btn btn-edit" title="@Resource.GetKey("Edit_Car_Details")" id="btnEditCarDetails" data-id="' + row.id + '" ><i class="fa fa-edit" style="color:red"></i></a>' +
                                '<a href="#" class="btn btn-serviceRegistration" title="@Resource.GetKey("Add_Service_History")" id="btnCreateCustomerCarServiceHistory" data-id="' + row.id + '" ><i class="fa fa-wrench" style="color:green"></i></a>' +
                                '<a href="#" class="btn btn-serviceHistory" title="@Resource.GetKey("View_Car_History")" id="btnViewCarServiceHistory" data-id="' + row.id + '" ><i class="fas fa-book" style="color:orange"></i></a>' +
                                '</div>';
                        },
                        "width": "80px",
                        "className": "text-center"
                    },
                    {data: null,
                    "render": function (data, type, row, meta) {
                                return null; // This will display nothing in the column
                     }
                    }
                ]
            });
            $('#customerCarsTable').show();
            $('#customerCarsTable').DataTable({
                "pageLength": 10,
                "searching": true,
                "paging": true,
                "destroy": true,
                "scrollCollapse": true,
                "scrollY": '600px',
                "columnDefs": [
                    {
                        "targets": [0, 7],
                        "visible": false
                    },
                    {
                        "targets": [4,7,9,10],
                        "orderable": false
                    }
                ],
                "language": {
                    "lengthMenu": "@Resource.GetKey("Show_DataTable") _MENU_ @Resource.GetKey("Entries_Per_Page")",
                    "zeroRecords": "@Resource.GetKey("No_Matching_Records_Found_DataTable")",
                    "info": "@Resource.GetKey("Show_DataTable") _START_ @Resource.GetKey("To_DataTable") _END_ @Resource.GetKey("Of_DataTable") _TOTAL_ @Resource.GetKey("Entries_DataTable")",
                    "infoEmpty": "@Resource.GetKey("Showing_Empty_DataTable")",
                    "infoFiltered": "(@Resource.GetKey("Filtered_From_DataTable") _MAX_ @Resource.GetKey("Total_DataTable") @Resource.GetKey("Entries_DataTable"))",
                    "search": "@Resource.GetKey("Search"):",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "@Resource.GetKey("Next_DataTable")",
                        "previous": "@Resource.GetKey("Previous_DataTable")"
                    }
                }
            });

            console.log("CustomerUserID: " + @ViewBag.CustomerUserID);
        });

        // Handle Actions create service history button click
        $('#customerCarsTable tbody').on('click', 'a.btn-serviceRegistration', function (e) {
            e.preventDefault();
            e.stopPropagation();
            if ($(this).attr('data-disabled') !== 'true') {
                console.log("test test");
                var id = $(this).data('id');
                console.log("ID: " + id);
                var url = "@Url.Action("QuickCreateUserModelServiceHistoryPartial", "CustomerCars")" + '?customerID=' + @ViewBag.CustomerUserID + '&customerCarID=' + id;
                console.log("URL: " + url);
                console.log("CustomerUserID: " + @ViewBag.CustomerUserID + " == ID: " + id);
                // Load partial view into the container
                $.get(url, function (response) {
                    $('#addCustomerCarServiceHistoryDiv').html(response);
                    $('#addCustomerCarServiceHistoryDiv').find('.modal').modal('show');
                });
            }
        });

        // Handle edit button click
        $('#customerCarsTable tbody').on('click', 'a.btn-edit', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var url = "@Url.Action("EditCarDetailsPartial")" + '/?id=' + id;
            // Load partial view into the container
            $.get(url, function (response) {
                $('#editCustomerCarDetailsDIV').html(response);
                $('#editCustomerCarDetailsDIV').find('.modal').modal('show');
            });
        });

        // Handle view service history button click
        $('#customerCarsTable tbody').on('click', 'a.btn-serviceHistory', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var url = "@Url.Action("ViewCarDetails")" + '/?id=' + id;
            console.log("URL: "+ url);
            window.location.href = url; // Redirect to the URL
        });

        //// Handle Actions create service history button click
        //$('#customerCarsTable tbody').on('click', 'a.btn-serviceRegistration', function (e) {
        //    e.preventDefault();
        //    e.stopPropagation();
        //    if ($(this).attr('data-disabled') !== 'true') {
        //        console.log("test test");
        //        // Get the DataTables row associated with the clicked edit button
        //        var rowData = $('#customerCarsTable').DataTable().row($(this).closest('tr')).data();
        //        // Retrieve the customerID value from the row data
        //        var id = rowData.id;
        //        var url = "@Url.Action("QuickCreateUserModelServiceHistoryPartial", "CustomerCars")" + '/?customerID=' + id;
        //        // Load partial view into the container
        //        $.get(url, function (response) {
        //            $('#addCustomerCarServiceHistoryDiv').html(response);
        //            $('#addCustomerCarServiceHistoryDiv').find('.modal').modal('show');
        //        });
        //    }
        //});

        //Show Add Make Modal
        $(function () {
            var AddCustomerCarElement = $('#AddCustomerCarPartial');

            $('button[data-bs-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    AddCustomerCarElement.html(data);
                    AddCustomerCarElement.find('.modal').modal('show');
                })
            })

            //Save Add Makeform data
            AddCustomerCarElement.on('click', '[data-bs-save="modal"]', function (event) {

                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr("action");
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (data) {
                    AddCustomerCarElement.find('.modal').modal('hide');
                    location.reload(true);
                })
            })

        })

        window.onpageshow = function (event) {
            if (event.persisted) {
                // Force reload if the page was cached (usually happens when navigating back)
                window.location.reload();
            }
        };
    </script>
}