﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link href="/favicon.png" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/v4-shims.min.css" rel="stylesheet">


        
        @* Multi Select select2*@
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        @*DropDown Menus Appearance*@
        @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">*@
        @*DataTables*@
@*        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">*@
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <!-- DataTables Select extension CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">
    <!-- Fixed Header for Datatable-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.dataTables.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMkM9z0yI4NjcU8T2FQ4BzFJ8VcdT4B9F6/ozf" crossorigin="anonymous">


    </head>
    @inject LanguageService Resource
    <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Logo and brand on the left -->
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/favicon.png" alt="Logo" width="25" height="25">
                    <span class="ml-2">Alex Garage</span>
                </a>

                <!-- Toggle button for small screens -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Center the menu items -->
                <div class="collapse navbar-collapse justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa fa-fw fa-home"></i> @Resource.GetKey("Home")
                            </a>
                        </li>
                        @if (@ViewBag.UserType == null || @ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Guest.ToString())
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Users" asp-controller="Users" asp-action="Login">
                                    <i class="fa fa-fw fa-sign-in"></i> @Resource.GetKey("Login")
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Users" asp-controller="Users" asp-action="Create">
                                    <i class="fa fa-user-plus"></i> @Resource.GetKey("Register")
                                </a>
                            </li>
                        }
                        @if (@ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Admin.ToString() || @ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Employee.ToString()){
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Users" asp-controller="Customer" asp-action="Customers">
                                    <i class="fa fa-users"></i> @Resource.GetKey("Customers")
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Users" asp-controller="Engineer" asp-action="Engineers">
                                    <i class="fa fa-wrench"></i> @Resource.GetKey("Engineers")
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Users" asp-controller="Employee" asp-action="Employees" asp-route-flag="0">
                                    <i class="fas fa-user-cog"></i> @Resource.GetKey("Employees")
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                                        <i class="fa fa-user-circle"></i> @Resource.GetKey("My_Account")
                                    </a>
                                </div>
                                <div class="dropdown-menu">
                                    <a class="nav-link" asp-area="Users" asp-controller="Users" asp-action="MyProfile">
                                        <i class="fa fa-user"></i> @Resource.GetKey("My_Profile")
                                    </a>
                                    <a class="nav-link" asp-area="Home" asp-controller="Home" asp-action="Settings">
                                        <i class="fa fa-cog"></i> @Resource.GetKey("Settings")
                                    </a>
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                        <i class="fa fa-shield"></i> @Resource.GetKey("Privacy")
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Settings" asp-controller="Settings" asp-action="Settings">
                                    <i class="fa fa-cogs"></i> @Resource.GetKey("Settings")
                                </a>
                            </li>
                        }
                        else if (@ViewBag.UserType == GaragePortalNewUI.Enum.UserType.Customer.ToString())
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="CustomerCars" asp-controller="CustomerCars" asp-action="ViewCustomerCars" asp-route-id="@ViewBag.ID">
                                    <i class="fa fa-car"></i> @Resource.GetKey("List_Of_MyCars")
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                                        <i class="fa fa-user-circle"></i> @Resource.GetKey("My_Account")
                                    </a>
                                </div>
                                <div class="dropdown-menu">
                                    <a class="nav-link" asp-area="Users" asp-controller="Users" asp-action="MyProfile">
                                        <i class="fa fa-user"></i> @Resource.GetKey("My_Profile")
                                    </a>
                                    <a class="nav-link" asp-area="Home" asp-controller="Home" asp-action="Settings">
                                        <i class="fa fa-cog"></i> @Resource.GetKey("Settings")
                                    </a>
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                        <i class="fa fa-shield"></i> @Resource.GetKey("Privacy")
                                    </a>
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Users" asp-controller="Users" asp-action="Logout">
                                <i class="fa fa-sign-out"></i> @Resource.GetKey("Logout")
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Right side (language dropdown) -->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            <i class="fa fa-globe"></i> @ViewBag.Language
                        </a>
                        <div class="dropdown-menu">
                            <a class="nav-link" asp-controller="UILanguage" asp-action="ChangeLanguage" asp-route-culture="en-GB">English</a>
                            <a class="nav-link" asp-controller="UILanguage" asp-action="ChangeLanguage" asp-route-culture="el-GR">Ελληνικά</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                <center>&copy; 2022 - Garage Management Software - <a class="af" asp-area="" asp-controller="Home" asp-action="Privacy">@Resource.GetKey("Privacy")</a></center>
            </div>
        </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/JavaScript.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
    @*DataTables*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    @*DataTables*@

    @*Excel Import*@
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/pptxgenjs@3.12.0/libs/jszip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/pptxgenjs@3.12.0/dist/pptxgen.min.js"></script>
    @*Excel Import*@

    @*Custom Date Format*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    @*Custom Date Format*@
    <!-- Include DataTables Buttons JavaScript -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <!-- Include DataTables Select JavaScript -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <!-- Include DataTables Buttons HTML5 Export JavaScript -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <!-- Include DataTables Buttons Print JavaScript -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <!-- Include XLSX for Excel Export -->
@*    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>*@
    <!-- Fixed Header for Datatable-->

    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>