@model GaragePortal.Models.UserModelsDTO
@inject LanguageService Resource

<script src="~/js/JavaScript.js" defer></script>
<script src="~/js/site.js" defer></script>


<div id="AddCustomerCar" name="AddCustomerCar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Resource.GetKey("Add_New_Car")<h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="Create" asp-controller="UserModels" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserID" value="@ViewBag.CustomerUserID" />
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ModelManufacturer" class="control-label">@Resource.GetKey("Model_Manufacturer")</label>
                        <br />
                        <select id="ShowManufacturers" onchange="getManufacturersForModel(getSelectedManufacturer(),@ViewBag.Culture)" asp-for="ModelManufacturer" class="form-control">
                            <option value='0'>--@Resource.GetKey("Select_Manufacturer")--</option>
                        </select>
                        <input asp-for"ModelManufacturer" type="hidden" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label">@Resource.GetKey("Model")</label>
                        <br />
                        <select id="ShowModels" onchange="getYearsForModel(getSelectedModel(),@ViewBag.Culture)" asp-for="Model" class="form-control">
                            <option value='0'>--@Resource.GetKey("Select_Model")--</option>
                        </select>
                    </div>
                    <div>
                        <label asp-for="ModelYear" class="control-label">@Resource.GetKey("Model_Year")</label>
                        <br />
                        <select id="ShowYears" asp-for="ModelYear" class="form-control">
                            <option value='0'>--Select Year--</option>
                        </select>
                        <input asp-for"ModelYear" type="hidden" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="LicencePlate" class="control-label">@Resource.GetKey("Licence_Plate")</label>
                        <input asp-for="LicencePlate" class="form-control" />
                        <span asp-validation-for="LicencePlate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VIN" class="control-label">@Resource.GetKey("VIN_Number")</label>
                        <input asp-for="VIN" class="form-control" />
                        <span asp-validation-for="VIN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Kilometer" class="control-label">@Resource.GetKey("Kilometer")</label>
                        <input asp-for="Kilometer" class="form-control" />
                        <span asp-validation-for="Kilometer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Color" class="control-label">@Resource.GetKey("Color")</label>
                        <input asp-for="Color" class="form-control" />
                        <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>*@
                    <div class="modal-footer">
                        <button type="submit" value="Create" class="btn btn-success">@Resource.GetKey("Register_Customer")</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">@Resource.GetKey("Cancel")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

