@model IEnumerable<GaragePortal.Models.UserModels>
@{
    ViewData["Title"] = "List of User Cars";
}


@if (@ViewBag.UserType == GaragePortal.Enum.UserType.Admin.ToString())
{
    <p>
        @*<a class="af" asp-action="Create">Add New User</a>*@
        <form asp-action="Create">
            <input type="submit" value="Add New Car" class="btn btn-primary" />
        </form>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManufacturerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModelYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LicencePlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kilometer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarImage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufacturerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicencePlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kilometer)
                    </td>
                     <td>
                        @if (!(item.CarImage is null))
                        {
                            <img src="data:image/jpg;base64, @Convert.ToBase64String(item.CarImage)" width="50" height="50" />
                        }
                    </td>
                    <td>
                        <a class="af" asp-controller="UserModels" asp-action="EditCarDetails" asp-route-id="@item.ID" asp-route-flag="1">Edit Car Details</a>
                    </td>
                    <td>
                        <a class="af" asp-controller="UserModels" asp-action="ViewCarDetails" asp-route-id="@item.ID">View Car History</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}