@model GaragePortal.Models.Users
@inject LanguageService Resource

@{
    ViewData["Title"] = @Resource.GetKey("Add_New_Engineer");
}

<div id="AddEngineer" name="AddEngineer" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Resource.GetKey("Add_Engineer_Details_Form")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="CreateEngineerPartial" asp-controller="Users" enctype="multipart/form-data">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label">@Resource.GetKey("Surname")</label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">@Resource.GetKey("Name")</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EngineerSpeciality" class="control-label">@Resource.GetKey("Engineer_Speciality")</label>
                        <br />
                        <select id="EngineerSpeciality" asp-for="EngineerSpeciality" class="form-control">
                            <option value='0'>--@Resource.GetKey("Select_Speciality")--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserPhoto" class="control-label">@Resource.GetKey("User_Photo")</label>
                        <input type="file" class="form-control-file form-control" id="files" asp-for="UserPhoto" name="Image" accept="image/*" onchange="previewImage()">
                        <span asp-validation-for="UserPhoto" class="text-danger"></span>
                        @Html.ValidationMessageFor(m => m.UserPhoto)
                    </div>
                    <div class="modal-footer">
                        <button type="submit" value="Create" class="btn btn-success">@Resource.GetKey("Register_Customer")</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">@Resource.GetKey("Cancel")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>