@model IEnumerable<GaragePortal.Models.Users>
@inject LanguageService Resource

@{
    ViewData["Title"] = @Resource.GetKey("List_Of_Engineers");
}

@if (@ViewBag.UserType == GaragePortal.Enum.UserType.Admin.ToString())
{
    <p>
        <form asp-action="CreateEngineer">
            <input type="submit" value="@Resource.GetKey("Add_New_Engineer")" class="btn btn-primary" />
        </form>
    </p>
    <table class="table">
        <thead>
            <tr>
@*                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>*@
                <th>
                    @Resource.GetKey("Name")
                </th>
                <th>
                    @Resource.GetKey("Surname")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Resource.GetKey("Creation_Date")
                </th>
                <th>
                    @Resource.GetKey("Modified_Date")
                </th>
                <th>
                    @Resource.GetKey("Last_Login_Date")
                </th>
                <th>
                    @Resource.GetKey("User_Photo")
                </th>
                <th>
                    @Resource.GetKey("Engineer_Speciality")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
@*                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastLoginDate)
                    </td>
                    <td>
                        @if (!(item.UserPhoto is null)){
                            <img src="data:image/jpg;base64, @Convert.ToBase64String(item.UserPhoto)" width="50" height="50" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EngineerSpeciality)
                    </td>
                    <td>
                        <a class="af" asp-action="EditEngineerProfile" asp-route-id="@item.ID">@Resource.GetKey("Edit_Profile")</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else{
    <p><center>You are not authorized to access this page</center></p>
}