@model IEnumerable<GaragePortal.Models.Users>
@inject LanguageService Resource

@{
    ViewData["Title"] = @Resource.GetKey("List_of_Customers");
}

@if (@ViewBag.UserType == GaragePortal.Enum.UserType.Admin.ToString())
{
    <div id="AddCustomerPartial"></div>
    <div id="SendEmailToUser"></div>
    <button class="btn btn-sm btn-primary m-2" id="btnAddCustomer" data-bs-toggle="ajax-modal" data-bs-target="#AddCustomer" data-url="@Url.Action("CreateCustomerPartial")">@Resource.GetKey("Add_New_Customer")</button>
    <div>
        @*<form asp-action="CreateCustomer">
            <input type="submit" value="@Resource.GetKey("Add_New_Customer")" class="btn btn-primary" />
        </form>*@
        <br><br>
        @using (Html.BeginForm("Index", "Users", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        <span><b>@Resource.GetKey("SearchBy"): </b></span>
                        @Html.RadioButton("searchBy","All",true)
                        <text>@Resource.GetKey("All")</text>
                        @Html.RadioButton("searchBy","Name")
                        <text>@Resource.GetKey("Name")</text>
                        @Html.RadioButton("searchBy","Surname")
                        <text>@Resource.GetKey("Surname")</text>
                        @Html.RadioButton("searchBy","Email")
                        <text>Email</text>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("searchValue",null, new {Class = "form-control",placeholder=@Resource.GetKey("Enter_Details_for_Search")})
                    </td>
                    <td>
                        <input type="submit" id ="Search" value="Search" class="btn btn-success" />
                    </td>
                </tr>
            </table>
        }
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Resource.GetKey("Name")
                </th>
                <th>
                    @Resource.GetKey("Surname")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Resource.GetKey("Creation_Date")
                </th>
                <th>
                    @Resource.GetKey("Modified_Date")
                </th>
                <th>
                    @Resource.GetKey("Last_Login_Date")
                </th>
                <th>
                    @Resource.GetKey("User_Photo")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastLoginDate)
                    </td>
                    <td>
                        @if (!(item.UserPhoto is null)){
                            <img src="data:image/jpg;base64, @Convert.ToBase64String(item.UserPhoto)" width="50" height="50" />
                        }
                    </td>
                    <td>
                        <a class="af" asp-action="EditCustomerProfile" asp-route-id="@item.ID">@Resource.GetKey("Edit_Profile")</a>
                    </td>
                    <td>
                        <a class="af" asp-controller="UserModels" asp-action="ViewCustomerCars" asp-route-id="@item.ID">@Resource.GetKey("View_Cars")</a>
                    </td>
                    <td>
                        @*<button class="btn btn-sm btn-primary m-2" id="btnSendEmail" data-bs-toggle="ajax-modal" data-bs-target="#SendEmailToUser" data-url="@Url.Action("SendEmailToUser")">@Resource.GetKey("Send_Email")</button>*@
                        <a class="af" asp-controller="Email" asp-action="SendEmailToUser" asp-route-id="@item.ID">@Resource.GetKey("Send_Email")</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else{
    <p><center>You are not authorized to access this page</center></p>
}

@section scripts{
    <script type="text/javascript">

        //Show Add Make Modal
        $(function () {
            var AddCustomerCarElement = $('#AddCustomerPartial');

            $('button[data-bs-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    AddCustomerCarElement.html(data);
                    AddCustomerCarElement.find('.modal').modal('show');
                })
            })

            //Save Add Makeform data
            AddCustomerCarElement.on('click', '[data-bs-save="modal"]', function (event) {

                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr("action");
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (data) {
                    AddCustomerCarElement.find('.modal').modal('hide');
                    location.reload(true);
                })
            })

        })

        $(function () {
            var SendEmailToUserElement = $('#SendEmailToUser');

            $('button[data-bs-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    SendEmailToUserElement.html(data);
                    SendEmailToUserElement.find('.modal').modal('show');
                })
            })

            //Save Add Makeform data
            SendEmailToUserElement.on('click', '[data-bs-save="modal"]', function (event) {

                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr("action");
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (data) {
                    SendEmailToUserElement.find('.modal').modal('hide');
                    location.reload(true);
                })
            })

        })
    </script>
}