@model GaragePortal.Models.Users
@inject LanguageService Resource

@{
    ViewData["Title"] = @Resource.GetKey("My Profile");
}

<h1>@Resource.GetKey("My Profile")</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        @if (Model.UserType == 1)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastLoginDate)
            </dt>

            <dt class="col-sm-2">
                @Html.DisplayFor(model => model.LastLoginDate)
            </dt>
        }

    </dl>
</div>
<div>
    <a class="af" asp-action="EditMyProfile" asp-route-id="@ViewBag.ID">Edit</a>
    @*| <a asp-action="Index">Back to List</a>*@
</div>
