@model IEnumerable<GarageManagementSoftwarePortal.Models.UserModels>
@{
    ViewData["Title"] = "List of User Cars";
}

@if (@ViewBag.UserType == GaragePortal.Enum.UserType.Admin.ToString())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManufacturerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModelYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LicencePlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kilometer)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                                        <td>
                        @Html.DisplayFor(modelItem => item.ManufacturerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicencePlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kilometer)
                    </td>
                    <td>
                        <a class="af" asp-action="EditCar" asp-route-id="@item.ID" asp-route-flag="1">Edit Car Details</a>
                    </td>
                    <td>
                        <a class="af" asp-action="ViewCarDetails" asp-route-id="@item.ID">View Car History</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}